.modal2 {
  display: none;
      border: 2px solid #4CAF50;
      width: 300px;
      margin: auto;
      padding: 20px;
      border-radius: 10px;
      background-color: #f2f2f2;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  
  #tareas {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      margin: 20px auto;
      gap: 20px;
  }
  
  #tareas .atributes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      border: 2px solid #4CAF50;
      border-radius: 10px;
      background-color: #fff;
  }
  
  #tareas .atributes div {
      margin-bottom: 10px;
  }
  
  .forms {
      display: grid;
      grid-template-columns: 1fr;
      margin-bottom: 20px;
  }
  
  .alert {
      padding: 15px;
      background-color: #f44336;
      color: white;
      border-radius: 10px;
      margin-bottom: 15px;
      display: none; /* Por defecto oculto */
  }
  
  /* Estilos para el botón de cerrar */
  .closebtn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
  }
  
  .closebtn:hover {
      color: black;
  }
  
  header {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
  }
  
  header h1 {
      color: #4CAF50;
  }
  
  #new-project-btn {
      width: 100px;
      height: 100px;
      background-color: #4CAF50;
      color: white;
      font-size: 16px;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.3s;
  }
  
  #new-project-btn:hover {
      background-color: #45a049;
  }
  
  .close {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 10px;
  }
  
  #task {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
  }
  
  #clave {
      padding: 10px 20px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
  }
  
  #clave:hover {
      background-color: #45a049;
  }
  
  .tituloDiv {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
  }
  
  .atributes {
      display: grid;
      grid-template-columns: 1fr;
      border-left: 2px solid #4CAF50;
      width: 100%;
      padding: 20px;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      margin-bottom: 20px;
  }
  
  .atributes:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  
  
  
  .Navbar {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
  }
  
  .Navbar select,
  .Navbar input[type="text"],
  .Navbar button {
      padding: 10px 20px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s;
      margin-right: 10px;
  }
  
  .Navbar select:hover,
  .Navbar input[type="text"]:hover,
  .Navbar button:hover {
      background-color: #45a049;
  }